name: Docker Image CI

on: [push]

jobs:

  buildAndPush:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build and push Docker image
      uses: mr-smithers-excellent/docker-build-push@v2
      with:
        image: docker-connectiq-3.1.6-2019-10-23-2de4665c6
        registry: docker.pkg.github.com
        buildArgs: VERSION=3.1.6-2019-10-23-2de4665c6
        username: $GITHUB_ACTOR
        password: ${{ secrets.GITHUB_TOKEN }} 
