name: Docker Image CI

on: [push]

jobs:
  buildAndPush:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Build and push Docker image
      uses: mr-smithers-excellent/docker-build-push@v3
      with:
        image: garmin/docker-connectiq
        tag: 3.1.9-2020-06-24-1cc9d3a70
        registry: docker-private-push.kubernetes.zone
        buildArgs: CONNECT_IQ_SDK_VERSION=3.1.9-2020-06-24-1cc9d3a70
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD  }} 
